@charset "UTF-8";

.board-header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 90%;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.board-header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.write-link {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto;
    transition: background-color 0.3s;
}

.write-link:hover {
    background-color: #0056b3;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px auto;
    width: 90%;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.info {
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.info span {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    text-decoration: none;
}

.overlay:hover {
    opacity: 1;
}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pagination a, .pagination span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination span {
    background-color: #6c757d;
}

.wishlist-icon-insert { 
    font-size: 50px;
    color: white; 
    position: absolute;
    top: 0px;
    right: 10px; 
    z-index: 1; 
    cursor: pointer; 
}

.wishlist-icon-insert:hover{
    transform: scale(1.5);
}

.wishlist-icon-delete { 
    font-size: 50px;
    color: gold; 
    position: absolute;
    top: 0px;
    right: 10px; 
    z-index: 1; 
    cursor: pointer; 
}

.wishlist-icon-delete:hover{
    transform: scale(1.5);
}