@charset "UTF-8";

.order {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.order .div {
  background-color: #e5e5e5;
  overflow-x: hidden;
  width: 1920px;
  height: 2970px;
  position: relative;
}

.order .header {
  position: absolute;
  width: 1920px;
  height: 146px;
  top: 0;
  left: -2px;
  background-color: transparent;
  overflow: hidden;
}

.order .frame {
  position: absolute;
  width: 1920px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.order .text-wrapper {
  position: absolute;
  top: 33px;
  left: 320px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.order .vector-wrapper {
  position: absolute;
  width: 460px;
  height: 44px;
  top: 23px;
  left: 532px;
  background-color: #f1f1f5;
  border-radius: 50px;
  overflow: hidden;
}

.order .vector {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 7px;
  left: 418px;
}

.order .frame-2 {
  position: absolute;
  width: 227px;
  height: 44px;
  top: 23px;
  left: 1011px;
}

.order .span-tab-name {
  position: absolute;
  width: 73px;
  left: 0;
  height: 21px;
  top: 15px;
  background-color: #ffffff;
}

.order .text-wrapper-2 {
  position: absolute;
  width: 73px;
  height: 20px;
  top: -2px;
  left: 0;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #65aa00;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.order .item-link {
  position: absolute;
  width: 28px;
  height: 44px;
  top: 0;
  left: 95px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #222222;
}

.order .span-tab-name-2 {
  position: relative;
  height: 21px;
  top: 15px;
  background-color: #ffffff;
}

.order .text-wrapper-3 {
  position: absolute;
  width: 28px;
  height: 20px;
  top: -2px;
  left: 0;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.order .span-tab-name-wrapper {
  left: 143px;
  position: absolute;
  width: 28px;
  height: 44px;
  top: 0;
}

.order .text-wrapper-4 {
  position: absolute;
  width: 28px;
  height: 20px;
  top: -2px;
  left: 0;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.order .after {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 30px;
  background-color: #ef6253;
  border-radius: 5px;
}

.order .div-wrapper {
  left: 199px;
  position: absolute;
  width: 28px;
  height: 44px;
  top: 0;
}

.order .frame-3 {
  position: absolute;
  width: 154px;
  height: 44px;
  top: 30px;
  left: 1446px;
}

.order .group {
  left: 0;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  background-color: #ffffff;
}

.order .icon-heart {
  position: absolute;
  width: 37px;
  height: 34px;
  top: 6px;
  left: 4px;
}

.order .icon-profile-circled-wrapper {
  left: 54px;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  background-color: #ffffff;
}

.order .icon-profile-circled {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 5px;
  left: 5px;
}

.order .icon-menu-wrapper {
  left: 110px;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  background-color: #ffffff;
}

.order .icon-menu {
  position: absolute;
  width: 32px;
  height: 28px;
  top: 9px;
  left: 6px;
}

.order .frame-wrapper {
  position: absolute;
  width: 1920px;
  height: 56px;
  top: 90px;
  left: 2px;
  background-color: #742121;
}

.order .frame-4 {
  position: relative;
  width: 1240px;
  height: 21px;
  top: 17px;
  left: 364px;
}

.order .text-wrapper-5 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Noto Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: normal;
}

.order .frame-5 {
  display: flex;
  width: 257px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 1px;
  left: 166px;
}

.order .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: normal;
}

.order .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 1px;
  left: 1171px;
}

.order .text-wrapper-7 {
  position: relative;
  width: 62px;
  margin-top: -1px;
  font-family: "Noto Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: right;
  letter-spacing: -0.75px;
  line-height: normal;
}

.order .footer {
  position: absolute;
  width: 1920px;
  height: 618px;
  top: 2352px;
  left: 0;
  background-color: transparent;
}

.order .overlap {
  width: 1920px;
  height: 56px;
  top: 0;
  background-color: #742121;
  position: absolute;
  left: 0;
}

.order .frame-7 {
  position: relative;
  width: 493px;
  height: 21px;
  top: 17px;
  left: 364px;
}

.order .frame-8 {
  position: relative;
  height: 21px;
}

.order .text-wrapper-8 {
  position: absolute;
  width: 79px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: normal;
}

.order .frame-9 {
  display: flex;
  width: 377px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 1px;
  left: 116px;
}

.order .text-wrapper-9 {
  position: relative;
  width: 66px;
  margin-top: -1px;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: normal;
}

.order .text-wrapper-10 {
  position: relative;
  width: 67px;
  margin-top: -1px;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: normal;
}

.order .text-wrapper-11 {
  position: relative;
  width: 121px;
  margin-top: -1px;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: normal;
}

.order .overlap-group {
  width: 1920px;
  height: 562px;
  top: 56px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
}

.order .frame-10 {
  position: absolute;
  width: 775px;
  height: 445px;
  top: 47px;
  left: 373px;
}

.order .text-wrapper-12 {
  position: absolute;
  width: 109px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: normal;
}

.order .overlap-group-2 {
  width: 759px;
  height: 40px;
  top: 34px;
  position: absolute;
  left: 0;
}

.order .p {
  position: absolute;
  width: 170px;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 20px;
  white-space: nowrap;
}

.order .element {
  position: absolute;
  width: 285px;
  height: 20px;
  top: 0;
  left: 170px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 20px;
  white-space: nowrap;
}

.order .span {
  letter-spacing: -0.01px;
}

.order .text-wrapper-13 {
  letter-spacing: -0.01px;
  text-decoration: underline;
}

.order .text-wrapper-14 {
  position: absolute;
  width: 310px;
  height: 20px;
  top: 0;
  left: 449px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 20px;
  white-space: nowrap;
}

.order .text-wrapper-15 {
  position: absolute;
  width: 380px;
  height: 20px;
  top: 20px;
  left: 0;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 20px;
  white-space: nowrap;
}

.order .text-wrapper-16 {
  position: absolute;
  width: 170px;
  height: 20px;
  top: 88px;
  left: 0;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 13px;
  letter-spacing: -0.06px;
  line-height: normal;
}

.order .text-wrapper-17 {
  position: absolute;
  width: 620px;
  height: 37px;
  top: 115px;
  left: 0;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13px;
  letter-spacing: -0.06px;
  line-height: normal;
}

.order .link {
  height: 14px;
  top: 116px;
  left: 639px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13px;
  letter-spacing: -0.06px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  width: 123px;
}

.order .text-wrapper-18 {
  position: absolute;
  width: 624px;
  height: 66px;
  top: 159px;
  left: 0;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13px;
  letter-spacing: -0.06px;
  line-height: normal;
}

.order .text-wrapper-19 {
  position: absolute;
  top: 241px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.7px;
  line-height: normal;
}

.order .frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: absolute;
  top: 275px;
  left: 0;
}

.order .list-item-link {
  position: relative;
  width: 47.76px;
  height: 13px;
  margin-top: -1px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13.1px;
  letter-spacing: -0.21px;
  line-height: normal;
  white-space: nowrap;
}

.order .list-item-link-2 {
  position: relative;
  width: 47.76px;
  height: 13px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 13.1px;
  letter-spacing: -0.21px;
  line-height: normal;
  white-space: nowrap;
}

.order .text-wrapper-20 {
  position: absolute;
  top: 241px;
  left: 170px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.7px;
  line-height: normal;
}

.order .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: absolute;
  top: 275px;
  left: 170px;
}

.order .div-customer-service {
  position: absolute;
  width: 347px;
  height: 161px;
  top: 48px;
  left: 1315px;
}

.order .strong {
  position: absolute;
  width: 81px;
  height: 19px;
  top: -1px;
  left: 0;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 18px;
  letter-spacing: -0.16px;
  line-height: normal;
  white-space: nowrap;
}

.order .strong-link {
  position: absolute;
  width: 98px;
  height: 19px;
  top: -1px;
  left: 84px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order .descriptions-term {
  position: absolute;
  width: 347px;
  height: 44px;
  top: 38px;
  left: 0;
}

.order .element-2 {
  position: absolute;
  width: 341px;
  height: 40px;
  top: -2px;
  left: 0;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #22222280;
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 20px;
}

.order .link-2 {
  height: 34px;
  top: 92px;
  left: 0;
  background-color: #222222;
  position: absolute;
  width: 123px;
}

.order .text-wrapper-21 {
  position: absolute;
  width: 101px;
  height: 14px;
  top: 9px;
  left: 11px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.06px;
  line-height: normal;
  white-space: nowrap;
}

.order .text-wrapper-22 {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 456px;
  left: 1507px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #2222224c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order .text-wrapper-23 {
  position: absolute;
  width: 150px;
  height: 38px;
  top: 248px;
  left: 885px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: normal;
}

.order .element-wrapper {
  position: absolute;
  width: 1137px;
  height: 249px;
  top: 355px;
  left: 395px;
  background-color: #f4f4f4;
  border-radius: 2px;
  overflow: hidden;
}

.order .element-3 {
  display: flex;
  width: 901px;
  align-items: flex-start;
  gap: 57px;
  position: relative;
  top: 30px;
  left: 47px;
}

.order .img {
  position: relative;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  background-image: url(./img/img.png);
  background-size: cover;
  background-position: 50% 50%;
}

.order .TXT {
  display: flex;
  flex-direction: column;
  width: 527px;
  height: 154px;
  align-items: flex-start;
  gap: 10px;
  padding: 6px 0px;
  position: relative;
}

.order .frame-13 {
  display: flex;
  flex-direction: column;
  width: 527px;
  height: 136px;
  align-items: flex-start;
  padding: 12px 0px;
  position: relative;
}

.order .text-wrapper-24 {
  position: relative;
  width: 429px;
  height: 55px;
  margin-top: -1px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: -0.07px;
  line-height: 22px;
}

.order .frame-14 {
  display: flex;
  width: 237px;
  height: 60px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  margin-bottom: -3px;
  overflow: hidden;
}

.order .text-wrapper-25 {
  position: relative;
  width: 237px;
  height: 83px;
  margin-top: -1px;
  margin-bottom: -42px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: -0.07px;
  line-height: 22px;
}

.order .element-4 {
  position: absolute;
  width: 1137px;
  height: 687px;
  top: 663px;
  left: 395px;
  background-color: #f4f4f4;
  border-radius: 1px;
  overflow: hidden;
}

.order .element-5 {
  position: absolute;
  width: 919px;
  height: 170px;
  top: 59px;
  left: 62px;
}

.order .text-wrapper-26 {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .frame-15 {
  position: absolute;
  width: 837px;
  height: 131px;
  top: 39px;
  left: 0;
}

.order .frame-16 {
  position: absolute;
  width: 748px;
  height: 28px;
  top: 11px;
  left: 0;
}

.order .text-wrapper-27 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #575757;
  font-size: 18px;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .text-wrapper-28 {
  position: absolute;
  top: -1px;
  left: 124px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #575757;
  font-size: 18px;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .frame-17 {
  position: absolute;
  width: 748px;
  height: 28px;
  top: 49px;
  left: 0;
}

.order .frame-18 {
  position: absolute;
  width: 748px;
  height: 28px;
  top: 87px;
  left: 0;
}

.order .rectangle {
  width: 1055px;
  height: 1px;
  top: 246px;
  left: 40px;
  position: absolute;
  background-color: #d9d9d9;
}

.order .element-6 {
  position: absolute;
  width: 1032px;
  height: 145px;
  top: 295px;
  left: 55px;
}

.order .text-wrapper-29 {
  position: absolute;
  top: 7px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .text-wrapper-30 {
  position: absolute;
  top: 39px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #515151;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .btn {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 156px;
  height: 51px;
  top: 84px;
  left: 0;
  background-color: #ffffff;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid;
  border-color: #d4d4d4;
}

.order .text-wrapper-31 {
  position: absolute;
  top: 14px;
  left: 38px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .rectangle-2 {
  position: absolute;
  width: 1055px;
  height: 1px;
  top: 481px;
  left: 40px;
  background-color: #d9d9d9;
}

.order .element-7 {
  position: absolute;
  width: 1032px;
  height: 133px;
  top: 511px;
  left: 55px;
}

.order .text-wrapper-32 {
  position: absolute;
  top: 25px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .frame-19 {
  position: absolute;
  width: 1008px;
  height: 51px;
  top: 70px;
  left: 0;
  background-color: #ffffff;
  overflow: hidden;
}

.order .rectangle-3 {
  width: 1032px;
  height: 2px;
  top: 49px;
  left: 0;
  position: absolute;
  background-color: #d9d9d9;
}

.order .polygon {
  position: absolute;
  width: 14px;
  height: 12px;
  top: 21px;
  left: 973px;
}

.order .text-wrapper-33 {
  position: absolute;
  top: 14px;
  left: 12px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .element-8 {
  position: absolute;
  width: 1137px;
  height: 203px;
  top: 1418px;
  left: 395px;
  background-color: #f4f4f4;
  border-radius: 1px;
  overflow: hidden;
}

.order .element-9 {
  position: relative;
  width: 1032px;
  height: 123px;
  top: 49px;
  left: 62px;
}

.order .frame-20 {
  position: absolute;
  width: 1008px;
  height: 51px;
  top: 53px;
  left: 0;
  background-color: #ffffff;
  overflow: hidden;
}

.order .element-10 {
  position: absolute;
  width: 1137px;
  height: 322px;
  top: 1678px;
  left: 395px;
  background-color: #f4f4f4;
  border-radius: 1px;
  overflow: hidden;
}

.order .element-11 {
  position: relative;
  width: 1032px;
  height: 272px;
  top: 33px;
  left: 62px;
}

.order .text-wrapper-34 {
  position: absolute;
  top: 12px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .frame-21 {
  position: absolute;
  width: 1032px;
  height: 207px;
  top: 56px;
  left: 0;
  overflow: hidden;
}

.order .frame-22 {
  position: absolute;
  width: 1032px;
  height: 28px;
  top: 14px;
  left: 0;
}

.order .text-wrapper-35 {
  position: absolute;
  top: -1px;
  left: 933px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #575757;
  font-size: 18px;
  text-align: right;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .frame-23 {
  position: absolute;
  width: 1026px;
  height: 28px;
  top: 61px;
  left: 0;
}

.order .text-wrapper-36 {
  position: absolute;
  top: -1px;
  left: 963px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #575757;
  font-size: 18px;
  text-align: right;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .rectangle-4 {
  width: 1033px;
  height: 1px;
  top: 118px;
  left: 0;
  position: absolute;
  background-color: #d9d9d9;
}

.order .frame-24 {
  position: absolute;
  width: 1032px;
  height: 41px;
  top: 145px;
  left: 0;
}

.order .text-wrapper-37 {
  position: absolute;
  top: 7px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 20px;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .text-wrapper-38 {
  position: absolute;
  top: 7px;
  left: 923px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #303030;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}

.order .frame-25 {
  position: absolute;
  width: 1137px;
  height: 74px;
  top: 2060px;
  left: 395px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}

.order .text-wrapper-39 {
  position: absolute;
  top: 25px;
  left: 496px;
  font-family: "Noto Sans-Bold", Helvetica;
  font-weight: 700;
  color: #742121;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 22px;
  white-space: nowrap;
}
