@charset "UTF-8";

.rectangle-2 input#search{
  width: 30px;
  height: 50px;
  border: none;
  font-size: 13pt;
  float: left;
  background-color: #f1f1f5; 
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: black;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  border-radius: 50px;
}
.rectangle-2 .icon{
  position: absolute;
  top: 14%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.rectangle-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
.rectangle-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.rectangle-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
.rectangle-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.rectangle-2 input#search:focus, .rectangle-2 input#search:active {
  outline:none;
  width: 450px;
  border-radius: 50px;
}
.rectangle-2:hover input#search{
	width: 450px;
	border-radius: 50px;
}
.rectangle-2:hover .icon{
  color: #f1f1f5;
}
.rectangle-2 {
   position: relative;
   display: inline-block;
   
}

#search {
   padding-right: 30px; /* 아이콘을 위한 여백 추가 */
}

.icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
        pointer-events: none; /* 아이콘에 대한 이벤트를 비활성화하여 input과 겹치는 것을 방지 */
}
.search-container {
    margin-top: 20px; /* 검색창을 조금 아래로 내리기 위한 여백 설정 */
}