@charset "UTF-8";


 .footer {
	position: absolute;
	width: 1920px;
	height: 618px;
	top: 1717px;
	left: 0;
	background-color: transparent;
}

.mypage .overlap-5 {
	position: absolute;
	width: 1920px;
	height: 56px;
	top: 0;
	left: 0;
	background-color: #742121;
}

.mypage .frame-31 {
	position: relative;
	width: 493px;
	height: 21px;
	top: 17px;
	left: 364px;
}

.mypage .frame-32 {
	position: relative;
	height: 21px;
}

.mypage .text-wrapper-24 {
	position: absolute;
	width: 79px;
	top: -1px;
	left: 0;
	font-family: "Noto Sans-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 15px;
	letter-spacing: -0.75px;
	line-height: normal;
}

.mypage .frame-33 {
	display: flex;
	width: 377px;
	align-items: flex-start;
	gap: 12px;
	position: absolute;
	top: 1px;
	left: 116px;
}

.mypage .text-wrapper-25 {
	position: relative;
	width: 66px;
	margin-top: -1px;
	font-family: "Noto Sans-SemiBold", Helvetica;
	font-weight: 600;
	color: #ffffff;
	font-size: 15px;
	letter-spacing: -0.75px;
	line-height: normal;
}

.mypage .text-wrapper-26 {
	position: relative;
	width: 67px;
	margin-top: -1px;
	font-family: "Noto Sans-SemiBold", Helvetica;
	font-weight: 600;
	color: #ffffff;
	font-size: 15px;
	letter-spacing: -0.75px;
	line-height: normal;
}

.mypage .text-wrapper-27 {
	position: relative;
	width: 121px;
	margin-top: -1px;
	font-family: "Noto Sans-SemiBold", Helvetica;
	font-weight: 600;
	color: #ffffff;
	font-size: 15px;
	letter-spacing: -0.75px;
	line-height: normal;
}

.mypage .overlap-6 {
	position: absolute;
	width: 1920px;
	height: 562px;
	top: 56px;
	left: 0;
	background-color: #d9d9d9;
}

.mypage .frame-34 {
	position: absolute;
	width: 775px;
	height: 445px;
	top: 47px;
	left: 373px;
}

.mypage .text-wrapper-28 {
	position: absolute;
	width: 109px;
	top: -1px;
	left: 0;
	font-family: "Noto Sans-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 20px;
	letter-spacing: -1px;
	line-height: normal;
}

.mypage .overlap-group-3 {
	position: absolute;
	width: 759px;
	height: 40px;
	top: 34px;
	left: 0;
}

.mypage .p {
	position: absolute;
	width: 170px;
	height: 20px;
	top: 0;
	left: 0;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13px;
	letter-spacing: -0.07px;
	line-height: 20px;
	white-space: nowrap;
}

.mypage .element {
	position: absolute;
	width: 285px;
	height: 20px;
	top: 0;
	left: 170px;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13px;
	letter-spacing: -0.07px;
	line-height: 20px;
	white-space: nowrap;
}

.mypage .span {
	letter-spacing: -0.01px;
}

.mypage .text-wrapper-29 {
	letter-spacing: -0.01px;
	text-decoration: underline;
}

.mypage .text-wrapper-30 {
	position: absolute;
	width: 310px;
	height: 20px;
	top: 0;
	left: 449px;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13px;
	letter-spacing: -0.07px;
	line-height: 20px;
	white-space: nowrap;
}

.mypage .text-wrapper-31 {
	position: absolute;
	width: 380px;
	height: 20px;
	top: 20px;
	left: 0;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13px;
	letter-spacing: -0.07px;
	line-height: 20px;
	white-space: nowrap;
}

.mypage .text-wrapper-32 {
	position: absolute;
	width: 170px;
	height: 20px;
	top: 88px;
	left: 0;
	font-family: "Segoe UI-Bold", Helvetica;
	font-weight: 700;
	color: #222222;
	font-size: 13px;
	letter-spacing: -0.06px;
	line-height: normal;
}

.mypage .text-wrapper-33 {
	position: absolute;
	width: 620px;
	height: 37px;
	top: 115px;
	left: 0;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13px;
	letter-spacing: -0.06px;
	line-height: normal;
}

.mypage .link {
	height: 14px;
	top: 116px;
	left: 639px;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13px;
	letter-spacing: -0.06px;
	line-height: normal;
	text-decoration: underline;
	white-space: nowrap;
	position: absolute;
	width: 123px;
}

.mypage .text-wrapper-34 {
	position: absolute;
	width: 624px;
	height: 66px;
	top: 159px;
	left: 0;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13px;
	letter-spacing: -0.06px;
	line-height: normal;
}

.mypage .text-wrapper-35 {
	position: absolute;
	top: 241px;
	left: 0;
	font-family: "Noto Sans-Medium", Helvetica;
	font-weight: 500;
	color: #000000;
	font-size: 14px;
	letter-spacing: -0.7px;
	line-height: normal;
}

.mypage .frame-35 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 13px;
	position: absolute;
	top: 275px;
	left: 0;
}

.mypage .list-item-link {
	position: relative;
	width: 47.76px;
	height: 13px;
	margin-top: -1px;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13.1px;
	letter-spacing: -0.21px;
	line-height: normal;
	white-space: nowrap;
}

.mypage .list-item-link-2 {
	position: relative;
	width: 47.76px;
	height: 13px;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 13.1px;
	letter-spacing: -0.21px;
	line-height: normal;
	white-space: nowrap;
}

.mypage .text-wrapper-36 {
	position: absolute;
	top: 241px;
	left: 170px;
	font-family: "Noto Sans-Medium", Helvetica;
	font-weight: 500;
	color: #000000;
	font-size: 14px;
	letter-spacing: -0.7px;
	line-height: normal;
}

.mypage .frame-36 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 13px;
	position: absolute;
	top: 275px;
	left: 170px;
}

.mypage .div-customer-service {
	position: absolute;
	width: 347px;
	height: 161px;
	top: 48px;
	left: 1315px;
}

.mypage .strong {
	position: absolute;
	width: 81px;
	height: 19px;
	top: -1px;
	left: 0;
	font-family: "Segoe UI-Bold", Helvetica;
	font-weight: 700;
	color: #222222;
	font-size: 18px;
	letter-spacing: -0.16px;
	line-height: normal;
	white-space: nowrap;
}

.mypage .strong-link {
	position: absolute;
	width: 98px;
	height: 19px;
	top: -1px;
	left: 84px;
	font-family: "Segoe UI-Bold", Helvetica;
	font-weight: 700;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.mypage .descriptions-term {
	position: absolute;
	width: 347px;
	height: 44px;
	top: 38px;
	left: 0;
}

.mypage .element-2 {
	position: absolute;
	width: 341px;
	height: 40px;
	top: -2px;
	left: 0;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #22222280;
	font-size: 15px;
	letter-spacing: -0.07px;
	line-height: 20px;
}

.mypage .link-2 {
	height: 34px;
	top: 92px;
	left: 0;
	background-color: #222222;
	position: absolute;
	width: 123px;
}

.mypage .text-wrapper-37 {
	position: absolute;
	width: 101px;
	height: 14px;
	top: 9px;
	left: 11px;
	font-family: "Segoe UI-Bold", Helvetica;
	font-weight: 700;
	color: #fafafa;
	font-size: 14px;
	text-align: center;
	letter-spacing: -0.06px;
	line-height: normal;
	white-space: nowrap;
}

.mypage .text-wrapper-38 {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 456px;
	left: 1507px;
	font-family: "Segoe UI-Regular", Helvetica;
	font-weight: 400;
	color: #2222224c;
	font-size: 12px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}